@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
.App {
  text-align: center;
  
}
.overflow{
  overflow-x: hidden;
}
.scrollTop {
  position: relative;
  width: 100%;
  bottom: 100px;
  left: 900px;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

