body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.overflow{
  overflow-x: hidden;
  font-family: 'Quicksand, sans-serif';
}
.scrollTop {
  position: relative;
  width: 100%;
  bottom: 100px;
  left: 900px;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}
.border_color{
  border: none;
  border-radius: 0;
}
.card{
background-color: '#333341';
padding-bottom: 200;
width: 'auto';
color: 'white';
}
.image_position{
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: grid;
place-items: center;
font-family: 'Quicksand, sans-serif';
}
.link-button{
  background-color: #FF8412;
  border-radius: 8vw;
  min-width: 5vw;
}
.card-title{
  color:white
}
.container-title{
  font-size: 48;
  margin-top:10vh;
  color:#FF8412;
}
.contact-title{
  font-size: 48; 
  color:#FF8412;
}
#toggle{
  margin-top: 18px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Quicksand, sans-serif';
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 12px;
  background: rgb(161, 155, 155);
  transition: .5s;
  cursor: pointer;
  box-shadow: inset 0px 8px 60px rgb(0,0,0,0.1),
              inset 0px 8px 8px rgb(0,0,0,0.1),
              inset 0px -4v 4px rgb(0,0,0,0.1);
}
#toggle .indicator{
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(37, 37, 37);
  transform: scale(0.9);
  box-shadow: 0px 8px 40px rgb(0,0,0,0.5),
              inset 0px 4px 4px rgb(255,255,255,0.2),
              inset 0px -4px 4px rgb(255,255,255,0.2);
  transition: 0.5s;
}
#toggle.active .indicator{
  left: 20px;
  background: linear-gradient(to bottom, rgb(240, 216, 216), rgb(224, 189, 189));
}
