.border_color{
    border: none;
    border-radius: 0;
}
.card{
  background-color: '#333341';
  padding-bottom: 200;
  width: 'auto';
  color: 'white';
}
.image_position{
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
}
